.plugin {
	display: block;
	padding: 0.75em 1.5em;
	border-bottom: 1px solid $light-grey;
	text-decoration: none;
}

.plugin:last-child {
	border-radius: 0 0 5px 5px;
}

.plugin:hover,
.plugin:focus {
	background-color: $light-grey;
}

.plugin--loading:hover {
	background-color: white;
}

.plugin__name {
	display: inline-block;
	color: $text-color;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1em;
}

.plugin__description {
	display: inline-block;
	color: $mid-grey;
	font-size: 1.1em;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: $max-width) {
	.plugin__description {
		display: block;
	}
}
