.plugin__search__clear-link {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1em;
    color: $text-color;
    text-decoration: none;
	padding: 1em;
	border-left: 1px solid $light-grey;
}

.plugin__search__clear-link:hover {
	background-color: $light-grey;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $mid-grey;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $mid-grey;
   font-weight: 300;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $mid-grey;
   font-weight: 300;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: $mid-grey;
   font-weight: 300;
}

.search__heading-back {
	position: absolute;
	top: 0;
    left: 0;
	padding: 1em;
	border-right: 1px solid $light-grey;
}

.search__heading-back:hover {
	background-color: $light-grey;
	cursor: pointer;
}
