::-webkit-input-placeholder { /* WebKit browsers */
    color: $mid-grey;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $mid-grey;
   font-weight: 300;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $mid-grey;
   font-weight: 300;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: $mid-grey;
   font-weight: 300;
}
